.navbar-default {
  border-color: transparent;
  background-color: #dadada;
}
.navbar-inverse .navbar-brand {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
}
.navbar-inverse .navbar-nav > li > a {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
}

.navbar-toggle {
  border-color: transparent;
  border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #16a085;
  color: white;
}
body {
    -webkit-font-smoothing: antialiased;
}